<div class="card mx-auto my-2" style="width:40em;">
  <img src="{{personajes[0].image}}" class="card-img-top" style="width:40em;">
  <div class="card-body">
    <h5 class="card-title">Nombre: {{personajes[0].name}}</h5>
    <h5 class="card-title">Id: {{personajes[0].id}}</h5>
    <p class="card-text">Gender: {{personajes[0].gender}}</p>
    <p class="card-text"><small class="text-muted">Specie: {{personajes[0].species}}</small></p>
    <p class="card-text"><small class="text-muted">Status: {{personajes[0].status}}</small></p>
  </div>
</div>
